#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    padding: 10px;
    width: 70%;
    left: 15%;
    top: 15%;
}

[class*="round-"] {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    float: left;
    width: 15%;
    /* height: 90%; */
}

[class*="round-"] [class*="game-"]:first-child {
    margin-top: 100px;
}

.round-0 [class*="game-"] {
    padding-bottom: 15px;
}

.round-1 [class*="game-"] {
    padding-bottom: 60px;
}

.round-2 [class*="game-"] {
    padding-bottom: 90px;
}

.round-3 [class*="game-"] {
    padding-bottom: 120px;
}

[class*="team-"] {
    width: 210px;
    height: 30px;
    line-height: 38px;
    border-radius: 10px;
    background: #333;
}

.btn-t {
    margin-bottom: 3px;
    width: 210px;
    height: 30px;
    line-height: 38px;
    border-radius: 10px;
    font-size: 24px;
    background: #FF5733;
}

.btn-b {
    background: #75FF33;
    border-radius: 10px;
    width: 210px;
    height: 30px;
    line-height: 38px;
    font-size: 24px;
}

