
.teamBox    {
    margin-top: 60px;
    color: white;
}

#team1nameform {
    width: 200px;
}
#req_team_name  {
    border: wheat;
    border-style: line;
    border-width: 3px;
}

.playerMenu {
    color:black;
}
body {
    color: #202020;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto",
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    background-image: url("https://vignette1.wikia.nocookie.net/leagueoflegends/images/7/73/Summoners_Rift_landscape_02.jpg/revision/latest/scale-to-width-down/2000?cb=20170303044632");
    background-size: 150%;
    align-content: right;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}


html {
    height: 90%;
}

#navBar{
    width: 100%;
    position: fixed;
    height: 60px;
    line-height: 30px;
    top: 0;
    font-weight: lighter;
}
#navImage {
    padding-top: 0px;
    padding-bottom: 0px;
}
#neopetAvatar {
    vertical-align: top;
}
nav ul .right {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    opacity: .97;
    align-items: center;
}

li {
    float: left;

}

li a {
    display: block;
    color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: background-color .1s;
    -moz-transition: background-color .1s;
    -ms-transition: background-color .1s;
    -o-transition: background-color .1s;
    transition: background-color .1s;
}

li a:hover:not(.active) {
    background-color: #ddd;
    text-decoration: none;
}

li a.active {
    color: white;
    background-color: #33b5e5;
    text-decoration: none;

}

li a.active:hover {
    color: white;
    background-color: #31c3f2;
    text-decoration: none;
}