
html {
    height: 90%;

}

body {
    color: #202020;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto",
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    background-color: white;
    padding: 0;
    margin: 0;
}

#navBar{
    width: 100%;
    position: fixed;
    height: 60px;
    line-height: 30px;
    top: 0;
    font-weight: lighter;
}
#navImage {
    padding-top: 0px;
    padding-bottom: 0px;
}
#neopetAvatar {
    vertical-align: top;
}
nav ul .right {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    opacity: .97;
    align-items: center;
}

li {
    float: left;

}

li a {
    display: block;
    color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: background-color .1s;
    -moz-transition: background-color .1s;
    -ms-transition: background-color .1s;
    -o-transition: background-color .1s;
    transition: background-color .1s;
}

li a:hover:not(.active) {
    background-color: #ddd;
    text-decoration: none;
}

li a.active {
    color: white;
    background-color: #33b5e5;
    text-decoration: none;

}

li a.active:hover {
    color: white;
    background-color: #31c3f2;
    text-decoration: none;
}


#wrapper{
<<<<<<< HEAD:Front/css/REALLOGINBOIZ.css
    width: 800px;
}
.wrapper_child{
=======
    margin-top: 60px; 
>>>>>>> 7ecdc8cdb269a2117c9e0f8767a2fbb572c18e33:Front/css/userCreationStyle.css
    text-align: center;
}
#submit_button {
    position: absolute;
    margin-top: 15px;
    right: 44.5%;
    width: 175px;
    height: 175px;
}

<<<<<<< HEAD:Front/css/REALLOGINBOIZ.css
#creation_hyperlink {
    position: absolute;
    margin-top: 40px;
    right: 45.25%;
}

div.leftBlock {
    float: left;
    width: 400px;
}
div.rightBlock {
    float: right;
    margin-right: 250px;
}

div.content{
    margin-top: 100px;
}

div h1{
    text-align: center;
}
=======
>>>>>>> 7ecdc8cdb269a2117c9e0f8767a2fbb572c18e33:Front/css/userCreationStyle.css
