<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="brackets.css"></link>
  </head>
  <body>
    <div id="container">
      <ol>
        <ul class="round-one">
          <li class="game-one">
            <div class="droppable btn-t"><div class="draggable team">One</div></div>
            <div class="droppable btn-b"><div class="draggable team">Two</div></div>
          </li>
          <ul class="round-two">
            <li class="game-five">
                <div class="droppable btn-t"></div>
                <div class="droppable btn-b"></div>
            </li>
          </ul>
          <li class="game-two">
            <div class="droppable btn-t"><div class="draggable team">Three</div></div>
            <div class="droppable btn-b"><div class="draggable team">Four</div></div>
          </li>
          <ul>
          <ul class="round-three">
            <li class="game-seven">
                <div class="droppable btn-t"></div>
                <div class="droppable btn-b"></div>
            </li>
          </ul>
          </ul>
          <li class="game-three">
            <div class="droppable btn-t"><div class="draggable team">Five</div></div>
            <div class="droppable btn-b"><div class="draggable team">Six</div></div>
          </li>
          <ul class="round-two">
            <li class="game-six">
                <div class="droppable btn-t"></div>
                <div class="droppable btn-b"></div>
            </li>
          </ul>
          <li class="game-four">
            <div class="droppable btn-t"><div class="draggable team">Seven</div></div>
            <div class="droppable btn-b"><div class="draggable team">Eight</div></div>
          </li>
        </ul>
      </ol>  
    </div>

    <script>
      window.onload = function() {
        var tree = new Tree("nnnnnnn", $(".container")[0]);

        $(".team").on("mouseover", function() {
          $(this).parent().css('width','240px');
        });

        $('div[class*=btn-]').on("mouseleave", function() {
          $(this).css('width','210px');
        });

        $(".draggable").draggable({
          revert: true,
          start: function(event, ui) {
            origin = event.target.parentNode;
          }
        });

        $(".droppable").droppable({
          accept: ".draggable",
          drop: function(event, ui) {
                  if ($(this).children().length > 0) {
                    var move = $(this).children().detach();
                    $(ui.draggable).parent().append(move);
                  }

                  $(this).append($(ui.draggable));
                }
        });

      };
    </script>
  </body>
</html>