<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="test.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class='box'>
        <div class='wave -one'></div>
        <div class='wave -two'></div>
        <div class='wave -three'></div>
        <div class='player_title'>Summoner Name
                <div class='player_text-1'>Summoner Level: </div>
                <div class='player_text-2'>Summoner Region: </div>
        </div>
        
    </div>
</body>
</html>