<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <script src="C:\Users\Shane\Documents\GitHub\COMP426-Project\node_modules\react\umd\react.development.js"></script>
    <script src="C:\Users\Shane\Documents\GitHub\COMP426-Project\node_modules\react-dom\umd\react-dom.development.js"></script>
    <script src="C:\Users\Shane\Documents\GitHub\COMP426-Project\node_modules\react-draggable\dist\react-draggable.js"></script>
    <!-- <style src="test-brackets.css"></style> -->
    
  </head>
  <body>

  </body>
</html>