body {
    box-sizing: border-box;
}

.dnd-item {
    display: flex;
    width: 740px;
    flex-wrap: wrap;
    padding: 30px;
    margin: 100px auto 0;
    background: white;
    font-family: sans-serif;
    font-size: 19px;
    text-align: center;
}

