<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="jquery-ui.js"></script>
    <script type="text/javascript" src="tree.js"></script>
    <script type="text/javascript" src="fen.js"></script>
    <link rel="stylesheet" type="text/css" href="css/brackets.css"></link>
  </head>
  <body>
    <div id="container"></div>
    <script>
      window.onload = function() {
        var fen = fenGen(9, 0)
        var tree = new Tree(fen, $("#container")[0]);
        
        $("div[class*=team-]").on("mouseover", function() {
          $(this).parent().css('width','240px');
        });

        $('div[class*=btn-]').on("mouseleave", function() {
          $(this).css('width','210px');
        });

        $(".draggable").draggable({
          revert: true,
          start: function(event, ui) {
            origin = event.target.parentNode;
          }
        });

        $(".droppable").droppable({
          accept: ".draggable",
          drop: function(event, ui) {
                  if ($(this).children().length > 0) {
                    var move = $(this).children().detach();
                    $(ui.draggable).parent().append(move);
                  }

                  $(this).append($(ui.draggable));

                  //update fen
                }
        });

      };
    </script>
  </body>
</html>