body {
    color: #202020;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto",
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    background-color: white;
    padding: 0;
    margin: 0;
    padding-top: 75px;
}

html {
    height: 90%;

}

.paralaxTemp{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    height: 100%;
    image-rendering: -webkit-optimize-contrast;
    color: #ffffff;
}


.paralax1 {
    /*background-image: url("images/36266061303_d1c485c4b1_o.jpg");*/
}

#navBar{
    width: 100%;
    position: fixed;
    height: 30px;
    line-height: 30px;
    top: 0;
    font-weight: lighter;
}
nav ul .right {
    float: right;
}
nav ul .g-signin2 {
    padding-top: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    opacity: .97;
    align-items: center;
}

li {
    float: left;

}

li a {
    display: block;
    color: inherit;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: background-color .1s;
    -moz-transition: background-color .1s;
    -ms-transition: background-color .1s;
    -o-transition: background-color .1s;
    transition: background-color .1s;
}

li a:hover:not(.active) {
    background-color: #ddd;
    text-decoration: none;
}

li a.active {
    color: white;
    background-color: #33b5e5;
    text-decoration: none;

}

li a.active:hover {
    color: white;
    background-color: #31c3f2;
    text-decoration: none;
}



li.login {
    float: right;
}

div.div-white, div.div-gray{
    min-height: 900px;
    width: 100%;
}
.div-white {
    background-color: #ffffff;
    padding-bottom: 75px;
}

.div-gray {
    background-color: #f5f5f5;
    padding-bottom: 75px;
}